body{
	background-color: white;
}
header{
	background-color: pink;
	display: flex;
	flex-direction: row;
	text-shadow: 3px 3px 5px red;
	flex-flow: row wrap;justify-content: space-between;
}
.home{
	width: 20%;
	margin-top: 1%;
	padding-bottom: 1%;
	margin-left: 1%;
	margin-bottom: 1%;
	padding-top: 1%;
	color: pink;
	background-color: orange;
	text-align: center;
	border-radius: 10px 8px 10px 8px;
	text-shadow: 3px 3px  4px grey;
}
.home a{
	text-decoration: none;/*it is use to remove underline*/
}
.home a:hover{
	background-color: white;
}
.mycv{
	width: 20%;
	padding-top: 1%;
	padding-bottom: 1%;
	margin-top: 1%;
	margin-left: 1%;
	margin-bottom: 1%;
	color: pink;
	background-color: orange;
	text-align: center;
	border-radius: 10px 8px 10px 8px;
	text-shadow: 3px 3px  4px grey;
}	
.mycv a{
	text-decoration: none;
}
.mycv a:hover{
	background-color: white;
}
.mybio{
	width: 20%;
	padding-top: 1%;
	padding-bottom: 1%;
	margin-top: 1%;
	margin-left: 1%;
	margin-bottom: 1%;
	color: pink;
	background-color: orange;
	text-align: center;
	border-radius: 10px 8px 10px 8px;
	text-shadow: 3px 3px  4px grey;
}
.mybio a{
	text-decoration: none;
}
.mybio a:hover{
	background-color: white;
}
.contact{
	width: 20%;
	margin-top: 1%;
	padding-bottom: 1%;
	margin-right: 1%;
	margin-bottom: 1%;
	padding-top: 1%;
	color:pink;
	background-color: orange;
	text-align: center;
	border-radius: 10px 8px 10px 8px;
	text-shadow: 3px 3px  4px grey;
}
.contact a{
	text-decoration: none;
}
.contact a:hover{
	background-color: white;
}
section{
	background-color: grey;
	display: flex;
	flex-direction: row;
	flex-flow: row wrap;
}
.name{
	width: 80%;
	color: blue;
	background-color: black;
	text-align: left;
	text-align: left;
	padding-left: 3%;
	font-size: 40px;
	text-shadow: 3px 3px 5px red;
	margin-right: 3%;
	border: 2px ;
	border-radius: 15px 15px;
}
.pic{
	margin-top: 1%;
	background-color: white;
}
.connect{
	width: 60%;
	background-color: indigo;
	color: orange;
	font-size: 20px;
	margin-left: 3%;
	margin-right: 1%;
	margin-top: 1%;
	margin-bottom: 2%;
	padding-left: 5%;
	padding-bottom: 2%;
	border: 4px;
	border-radius: 20px 20px;
}
.placeholder{
	border: 5px;
	
}
footer{
	background-color: violet;
	display: flex;
	flex-direction: row;
	flex-flow: row wrap;
	justify-content: space-between;/*it is use to distribute item in line with first item on start and last on end*/
}
.info{
	width: 40%;
	margin-left: 1%;
	margin-top: 2%;
	margin-bottom: 2%;
	padding-left: 3%;
	background-color: grey;
	color: blue;
	border: 4px ;
	border-radius: 20px 20px;
}
.social_site{
	width:43%;
	background-color: black;
	color: red;
	border: 4px red;
	border-radius: 30px 30px;
	padding-left: 10%;
	padding-bottom: 3%;
	margin-top: 2%;
	margin-bottom: 2%;
	margin-right: 1%;
}
/*it is use to make webpage responsive*/
@media (max-width: 400px){
section{
	display: flex;
	flex-direction: column;
	flex-flow: row wrap;
}
footer{
	display: flex;
	flex-direction: column;
}
.home{width: 100%; height: 40px;}
.mybio{width: 100%;}
.mycv{width: 100%;}
.contact{width: 100%;}
.name{width: 100%;}
.image{width: 100%;}
.connect{width: 100%;}
.info{width: 100%;}
.list{width: 100%;}
.form{width: 100%;}
}