body{
	background-color: blue;
}
header{
	background-color:white;
	display: flex;
	flex-direction: row;
	flex-flow: row wrap;justify-content: space-between;
}
.home{
	width: 20%;
	margin-top: 1%;
	margin-left: 1%;
	margin-bottom: 1%;
	padding-top: 1%;
	color: pink;
	background-color: orange;
	text-align: center;
	border-radius: 10px 8px 10px 8px;
}
.home a{
	text-decoration: none;
}
.mycv{
	width: 20%;
	padding-top: 1%;
	margin-top: 1%;
	margin-left: 1%;
	margin-bottom: 1%;
	padding-top: 1%;
	color: pink;
	background-color: orange;
	text-align: center;
	border-radius: 10px 8px 10px 8px;
}	
.mycv a{
	text-decoration: none;
}
.mybio{
	width: 20%;
	padding-top: 1%;
	margin-top: 1%;
	margin-left: 1%;
	margin-bottom: 1%;
	padding-top: 1%;
	color: pink;
	background-color: orange;
	text-align: center;
	border-radius: 10px 8px 10px 8px;
}
.mybio a{
	text-decoration: none;
}
.contact{
	width: 20%;
	padding-top: 1%;
	margin-top: 1%;
	margin-right: 1%;
	margin-bottom: 1%;
	padding-top: 1%;
	color:pink;
	background-color: orange;
	text-align: center;
	border-radius: 10px 8px 10px 8px;
	
}
.contact a{
	text-decoration:none;
}
section{
	background-color: grey;
	display: flex;
	flex-direction: row;
	flex-flow: row wrap;justify-content: space-around;

}
.cv{
	width: 80%;
	background-color: black;
	text-align: center;
	font-size: 40px;
	color: green;
	padding-top: 2%;
	text-shadow: 4px 4px 9px white;
	border-radius: 25px 25px;
}
.pic{
	width: 14%;
	background-color: white;
	margin-top: 0.5%;
	padding-left: 6%;
	border-radius: 20px 20px;
}
.education{
	width: 100%;
}
footer{
	background-color: violet;justify-content: space-between;
	display: flex;
	flex-direction: row;
	flex-flow: row wrap;
	border-radius: 6px 8px;
}
.info{
	width: 95%;
	height: 200px;
	margin-left: 1%;
	margin-top: 2%;
	margin-bottom: 2%;
	padding-left: 3%;
	background-color: grey;
	color: blue;
	border: 4px red;
	border-radius: 20px 20px;
}