body{
	background-color: grey;
	box-shadow: 2px 2px 2px 2px;
}
header{
	background-color:pink;
	margin-top: 1%;
	margin-bottom: 1%;
}
.name{
	background-color: pink;
	font-size: 40px;
	text-align: center;
	text-shadow: 3px 3px 5px grey;
}
section{
	background-color: white;
	display: flex;
	flex-direction: row;
	flex-flow:row wrap;
	justify-content: space-between;
	margin-bottom: 1%;
	text-shadow: 3px 4px 5px grey ;
	border-radius: 20px 20px;
}
.home{
	width: 20%;
	margin-top: 1%;
	padding-bottom: 1%;
	margin-left: 1%;
	margin-bottom: 1%;
	padding-top: 1%;
	color: pink;
	background-color: orange;
	text-align: center;
	border-radius: 10px 8px 10px 8px;
	text-shadow: 3px 3px  4px grey;
}


.home a{
	text-decoration: none;/*it is use to remove underline*/
}
.home a:hover {
	background-color: white;
}
.mycv{
	width: 20%;
	padding-top: 1%;
	padding-bottom: 1%;
	margin-top: 1%;
	margin-left: 1%;
	margin-bottom: 1%;
	color: pink;
	background-color: orange;
	text-align: center;
	border-radius: 10px 8px 10px 8px;
	text-shadow: 3px 3px  4px grey;
}	
.mycv a{
	text-decoration: none;
}
.mycv a:hover{
	background-color: white;
}
.mybio{
	width: 20%;
	padding-top: 1%;
	padding-bottom: 1%;
	margin-top: 1%;
	margin-left: 1%;
	margin-bottom: 1%;
	color: pink;
	background-color: orange;
	text-align: center;
	border-radius: 10px 8px 10px 8px;
	text-shadow: 3px 3px  4px grey;
}
.mybio a{
	text-decoration: none;
}
.mybio a:hover{
	background-color: white;
}
.contact{
	width: 20%;
	margin-top: 1%;
	padding-bottom: 1%;
	margin-right: 1%;
	margin-bottom: 1%;
	padding-top: 1%;
	color:pink;
	background-color: orange;
	text-align: center;
	border-radius: 10px 8px 10px 8px;
	text-shadow: 3px 3px  4px grey;
}
.contact a{
	text-decoration: none;
}
.contact a:hover{
	background-color: white;
}
.image{
	margin-left:1%;
	margin-top: 2%;
}
.note{
	width: 60%;
	color: white;
	margin-top: 5%;
	margin-bottom: 10%;
	margin-right: 2%;	
	background-color: yellow;
	border: 3px 3px ;
	border-radius: 18px 18px;
	box-shadow: 5px 5px 5px 5px grey;
}
.note h1{
	text-align: center;
	font-size: 45px;
}
.coder,.programmer,.operator,.designer{
	width: 100px;
    height: 45px;
    position: relative;
    background-color: grey;
    margin: 5%;
    animation-name: run;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes run {
    0%   {background-color: red; left:0px;}
    50%  {background-color: yellow; left:200px;}
    100% {background-color: red; left:0px;}
}

footer{
		background-color: violet;
		display: flex;
		flex-direction: row;
		flex-flow: row wrap;
		justify-content: space-between;/*it is use to distribute item in line with first item on start and last on end*/
}
.info{
	width: 40%;
	margin-left: 1%;
	margin-top: 2%;
	margin-bottom: 2%;
	padding-left: 3%;
	background-color: grey;
	color: blue;
	border: 4px ;
	border-radius: 20px 20px;
}
.social_site{
	width:43%;
	background-color: black;
	color: red;
	border: 4px red;
	border-radius: 30px 30px;
	padding-left: 10%;
	padding-bottom: 3%;
	margin-top: 2%;
	margin-bottom: 2%;
	margin-right: 1%;
}

/*it is use to make webpage responsive*/
@media (max-width: 400px){
section{
	display: flex;
	flex-direction: column;
}
footer{
	display: flex;
	flex-direction: column;
}
.home{width: 100%;}
.mybio{width: 100%;}
.mycv{width: 100%;}
.contact{width: 100%;}
.image{width: 100%;}
.info{width: 100%;}
.note{width: 100%;}
.social_site{width: 100%;}
}